<section class="section awards-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>Awards &amp; Certificate</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Chancellor’s Letters of Commendation</h3>
                            <div class="time">2016/03</div>
                        </div><!--//upper-row-->
                        <div class="company">awarded by Prizes Office, Division of Student Administration, ANU</div>
                        <div class="company">(only for those achieving a full GPA of 7.00 in one calendar year)</div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Membership of the Golden Key International Honour Society</h3>
                            <div class="time">2015/03</div>
                        </div><!--//upper-row-->
                        <div class="company">awarded by Golden Key International Honour Society</div>
                        <div class="company">(for those with at least top 15% academic achievement)</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Excellent Graduate &amp; Third Prize Scholarship</h3>
                            <div class="time">2012 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">awarded by Southern Medical University</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Course Certificate for C Programming (advanced)</h3>
                            <div class="time">2016/03</div>
                        </div><!--//upper-row-->
                        <div class="company">certificated by Peking University (Coursera)</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Linux Architect</h3>
                            <div class="time">2014/01</div>
                        </div><!--//upper-row-->
                        <div class="company">certificated by Beijing Uplooking Technology Co.,Ltd</div>
                    </div><!--//meta-->
                </div><!--//item-->
            </section><!--//section-->