<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>During my postgraduate study at ANU, I engaged with a research project called "Rogas", which was developing a system for data processing about network analytics. Since I find developing embedded system products very appealing, I am currently receiving a professional training for Embedded Systems Development in the Uplooking Technology (Shanghai). At present, I am engaging with two projects including an air purifier project with the STM32 chip and a QT streaming media project. If you are interested in these projects, you can subscribe to my GitHub and I will regularly upload the source code there.</p>
</div><!--//summary-->
</section><!--//section-->