 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master of Computing</h4>
    <h5 class="meta">Australian National University</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor of Medicine</h4>
    <h5 class="meta">Southern Medical University</h5>
    <div class="time">2008 - 2013</div>
</div><!--//item-->
</div><!--//education-container-->