<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Driver Engineer</h3>
                            <div class="time">2017/02 - Present  Shanghai, China</div>
                        </div><!--//upper-row-->
                        <div class="company">Longcheer Technology</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Work Description: </b>Participated in projects of Qualcomm(MSM8909/MSM8953 chipset) and Mediatek(MT6737/MT6757/MT6797 chipset) platform with the following responsibility: 1.Device performance tuning; 2.Modem bugs/issues solving; 3.Baseline upgrade for Qualcomm platform and modem patch maintenance for Mediatek platform.</p>
                        <p><b>Website: </b><a href="http://longcheer.com/" target="_blank">http://longcheer.com/</a></p>
                  </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">GSoC Mentor</h3>
                            <div class="time">2016/04 - 2016/08  Canberra, Australia</div>
                        </div><!--//upper-row-->
                        <div class="company">Google Summer of Code 2016</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Work Description: </b>1.The Web GUI design and implementation for Rogas, a declarative framework for network analytics; 2.The visualisation implementation of graph operations, including graph construction, ranking, clustering and finding paths; 3.The modification of the Rogas backend in order to fit the WebGUI.</p>  
                        <p><b>Website: </b><a href="https://summerofcode.withgoogle.com/archive/2016/projects/5092347436072960/" target="_blank">https://summerofcode.withgoogle.com/archive/2016/projects/5092347436072960/</a></p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">CECS Summer Intern</h3>
                            <div class="time">2015/11 - 2016/02  Canberra, Australia</div>
                        </div><!--//upper-row-->
                        <div class="company">ANU College of Engineering and Computer Science (CECS)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Work Description: </b>1.Built a prototype GUI for Rogas, a declarative framework for network analytics; 2.Completed the case studies for three real networks, including ACM bibliographical network, Stack Overflow network and Twitter network.</p> 
                       <p><b>Website: </b><a href="https://cs.anu.edu.au/research/student-research-projects/rogas" target="_blank">https://cs.anu.edu.au/research/student-research-projects/rogas</a></p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
