<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                
                <!--
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro
                -->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/CornucopiaRG/Rogas" target="_blank">Rogas</a></span> - <span class="project-tagline">A declarative framework for network analytics. It not only can provides a high-level declarative query language to formulate analysis queries, but also can unify different graph algorithms within the relational environment for query processing. </span>
                </div><!--//item-->

            </section><!--//section-->