<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                
                <!--
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>
                -->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/CornucopiaRG/Rogas" target="_blank">Rogas</a></span> - <span class="project-tagline">A declarative framework for network analytics. It not only can provides a high-level declarative query language to formulate analysis queries, but also can unify different graph algorithms within the relational environment for query processing. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/Minjian/STM32_Air_Purifier" target="_blank">STM32_Air_Purifier</a></span> - <span class="project-tagline">Project for an Air Purifier that can detect the PM2.5 level and peculiar smell and thus control the air quality of the room. The air purifier supports remote control by using the iOS or Android application. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/Minjian/QT_Video_Monitoring" target="_blank">Qt_Video_Monitoring</a></span> - <span class="project-tagline">Project for a Video Monitoring System used by Shanghai XianXia High School and Shanghai Experimental Kindergarten. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">Tiny4412 Driver Development</span> - <span class="project-tagline">Tiny4412 is an embedded development board with the Samsung Exynos 4412 chip. This project is about driver development for several customized modules on the Tiny4412 board, including LED driver, PWM Beeper driver, ADC driver, Touch Screen and LCD driver, WiFi driver(RTL8192CU), Audio driver(WM8960), Ethernet driver(DM9621). Drivers for other modules (e.g. eMMC, RTC, I2C-EEPROM, USB, SD/MMC, FIMC, HDMI) are provided in the official Samsung BSP.</span>
                </div><!--//item-->

            </section><!--//section-->