
<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-book"></i>Publications</h2>
                
                <div class="item">
                    <span class="project-title"><a href="http://www.vldb.org/pvldb/vol9/p1561-liu.pdf" target="_blank">Rogas: a declarative framework for network analytics</a></span> - <span class="project-tagline">Liu, M. and Wang, Q., 2016. Proceedings of the VLDB Endowment, 9(13), pp.1561-1564. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="http://link.springer.com/chapter/10.1007/978-3-319-46397-1_32" target="_blank">Data Analytics: From Conceptual Modelling to Logical Representation</a></span> - <span class="project-tagline">Wang, Q. and Liu, M., 2016. In Conceptual Modeling: 35th International Conference, ER 2016, Proceedings (pp. 415-429). Springer International Publishing. </span>
                </div><!--//item-->             

            </section><!--//section-->