<div class="education-container container-block">
<h2 class="container-block-title">Skills</h2>

<div class="item">
    <h4 class="degree">Programming Languages</h4>
    <div class="time">C, C++, Java, Python
      <a href="http://ocaml.org/" target="_blank"><div class="time">OCaml</div></a>
    </div>
</div><!--//item-->

<div class="item">
    <h4 class="degree">Embedded Programming</h4>
    <div class="time">I2C, SPI, USART, PWM, ADC, One-Wire, FSMC</div>
</div><!--//item-->

<div class="item">
    <h4 class="degree">Databases</h4>
    <div class="time">PostgreSQL</div>
    <div class="time">MySQL</div>
    <a href="https://neo4j.com/" target="_blank"><div class="time">Neo4j</div></a>
</div><!--//item-->

<div class="item">
    <h4 class="degree">Familiar Tools & Platforms</h4>
    <div class="time">Shell Programming
      <a href="https://www.qt.io/" target="_blank"><div class="time">QT Programming</div></a>
      <a href="https://developer.nvidia.com/cuda-zone" target="_blank"><div class="time">CUDA</div></a>
      <a href="https://www.opengl.org/" target="_blank"><div class="time">OpenGL</div></a>
      <a href="https://opencv.org/" target="_blank"><div class="time">OpenCV</div></a>
      <a href="https://aws.amazon.com/" target="_blank"><div class="time">AWS</div></a>
      <a href="https://cloud.google.com" target="_blank"><div class="time">Google Cloud</div></a>
      <a href="https://www.latex-project.org/" target="_blank"><div class="time">LaTeX</div></a>
      Photoshop
      <a href="https://marvelapp.com" target="_blank"><div class="time">Marvel Prototype</div></a>
      Adobe XD
    </div>
</div><!--//item-->

</div><!--//education-container-->
